/**{
    padding: 10px;
	border: 2px solid red; 
	margin: 10px;
}*/

body{
	font-family: 'Allerta', sans-serif;
	margin:0px;
}

.titulo{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}


.titulo span{
	text-decoration: underline;
}

.titulo-a{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.guitarras {
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	border:2px solid gray;
	border-radius: 8px;	
}


.guitarras ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.titulo-b{
	font-size: 50px;
	margin-bottom: 20px;
	
}

.background{
	background-image: url("../images/background.png");
	background-size: cover;

}

.portada{
	
	color: white;
	padding: 20px;
	
	height: 500px;

}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;



}

.menu li{
	display:inline-block;
	margin-left: 30px;


}




.menu a{
	text-decoration: none;
	color: white;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}


.boton{
	margin-bottom: 70px;

}

.contenedor{
	width: 800px;
	margin:auto;
	position: relative;


}



.right{
	float: right;
	position: relative;
	top: -127px;
}

.left{
	float: left;
	position: relative;
	top: 80px;
}


.contenedor-guitarra-a{
	
	padding left: :20px;
}


.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;   
}


.header{
	position: relative;
}


.boton{
	border-radius: 8px;
	background: #fd324e;
	color: white;
	border:none;
	padding: 7px;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
}

.footer{
	background: #273b47;
	margin-top: 40px;
	padding: 20px;

}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0; 
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;

}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.formulario {
	display: flex;
	width: 400px;
	color: white;
	

}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 50px;
}

.col2{
	color: white;
	padding: 50px 10px;
	align-items: flex-start;

}

.col2 .boton{
	margin-top: 15px;
}

.intereses label{
	font-size: 10px;

}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;
	padding: 10px 20px; 
	text-align: left;
}

td{
	padding: 20px;
}

table, th, td{
	border:1px solid #273b47 ;
	border-collapse: collapse;
}

h2{
	text-align: center;
	
	font-style: bold;
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: ligthgray;

}

.tabla{
	margin:50px 0;
}